.footer{
    border-top: 1px solid #e3e3e3;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 33;
    background: #fff;
    .list{
        li{
           width: 25%;
           display: inline-block;
           text-align: center;
           height: 0.55rem;
            a{
               
                i{
                    margin-top: 0.05rem;
                    width: 0.22rem;
                    height: 0.22rem;

                }
                h3{
                    font-size: 0.13rem;
                    color: #888;
                    line-height: 0.26rem;
                    font-weight: 400;

                }
            }
        }
    }
}
.active{
    
   i{
       color:#EC9B6D; 
   }
    h3{
       color:#EC9B6D; 
    }
}