body{
	background-color: #f5f5f5;
}
.carousel{
}
.head-fixed{
	position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 9999;

    .head-ser {
	    margin-top: 0.099rem;
	    margin-bottom: 0.099rem;
	    position: relative;
	    .header-inps {
		    width: 2.75rem;
		    height: 0.2859rem;
		    border: 1px solid #e3e3e3;
		    background: #f6f6f6;
		    display: inline-block;
		    border-radius: 0.9rem;
		    padding: 0.044rem 0.1694rem;
		    box-sizing: border-box;
		    margin-left: 0.44rem;
		    vertical-align: top;
			span {
		    font-size: 0.152rem;
		    vertical-align: top;
		    line-height: 0.16rem;
		    color: #bbb;
		    display: inline-block;
			}
			 i {
			    width: 0.18rem;
			    height: 0.18rem;
			    display: inline-block;
			    background: url(../../images/search.png) no-repeat center;
			    background-size: contain;
			    vertical-align: top;
			    margin-right: 0.066rem;
			}
		}
		.message {
		    float: right;
		    margin-right: 0.132rem;
		    text-align: center;
		    font-size: 0;
		    i {
			    width: 0.1583rem;
			    height: 0.1583rem;
			    display: inline-block;
			    background: url(../../images/xiaoxi_.png) no-repeat center;
			    background-size: contain;
			    vertical-align: top;
			}
			span{
				display: block;
    			font-size: 0.12rem;
    			color: #888;
			}
		}
	}
}
.link{
	text-decoration:none;
}
.list{
    overflow:hidden;
	.nav_list{
	    li{
	    	float:left;
	    	color: #fff;
	    	width:0.75rem;
	    	text-align: center;
		    height: 0.45rem;
		    line-height: 0.45rem;
		    font-size: .15rem;
	    }
	}
}
.nav-middle{
	padding:0.154rem 0;
	text-align:center;
	overflow:hidden;
	background:#fff;
	p{
		color:#444;
		font-size: 0.13rem;
	}
	li{
		float:left;
		width:25%;
	}
	i{
		display: inline-block;
		width: 0.4983rem;
		height: 0.4983rem;
	}
		.discounts{
			background:url(../../images/icon1.png) no-repeat center;
			background-size: contain;
		}
		.groupon{
			background:url(../../images/icon2.png) no-repeat center;
			background-size: contain;
		}
		.shop{
			background:url(../../images/icon3.png) no-repeat center;
			background-size: contain;
		}
		.myshop{
			background:url(../../images/icon4.png) no-repeat center;
			background-size: contain;
		}

}
.hot_sell{
	margin-top:0.099rem;
	padding:0.1496rem 0;
	background:#fff;
	text-align:center;
	img{
		width:3.5rem;
		height:1.42rem;
	}
}
#swiper1{
	margin-top:0.06rem;
	margin-bottom:0.1rem;
	background:#fff;
	text-align:center;
	font-size:0.15rem;
	padding-bottom:0.4rem;
	font-size:0.14rem;
	.swiper-pagination-current{
		color:red!important;
	}
	.swiper-slide{
		width:33%;
		img{
			width:100%;
			height:100%;
		}
			h5{
				width: 94%;
			    margin: auto;
			    font-weight: 100;
			    height: 0.25rem;
			    overflow: hidden;
			    line-height: 0.125rem;
			    margin-top: 0.1rem;
			    font-size: 0.12rem;
			    color:#444;
			}
			p{
				font-size: 0.12rem;
				margin-top:0.1rem;
				color:#d22147;
			}
	}
}
#swiper2{
	margin-top: .5rem;
	background: #490E0A;
	height:.45rem;
	line-height:.45rem;
	color:#fff;
	font-size:0.15rem;
	text-align:center
}
#swiper3{
	height:2.2rem;
	img{
		width:100%;
		height:100%;
	}
}
.cream{
	margin-bottom:0.5rem;
}