* {
  margin: 0;
  padding: 0; }

.search-top {
  width: 100%;
  padding: 0 0.2rem 0 0.2rem;
  margin-top: 0.8rem;
  font-size: 0.15rem; }
  .search-top ul li {
    float: left;
    padding: 0 0.1rem;
    margin: 0.1rem 0.1rem;
    background: #eaeaea;
    border: solid 0.01rem #EEE;
    border-radius: 0.2rem;
    font-size: 0.12rem;
    text-align: center; }
